@import "tailwindcss/base";
/**/
@import "tailwindcss/components";
/**/
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;


a:hover {
    @apply text-primary;
    /* Custom hover color */
}

/*@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');*/

body {
    /*overflow-x: hidden;*/
    background-color: #f5f5f7;

    /*font-family: 'Rubik', sans-serif;*/
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    /*//background: $light-bg-color;*/
}
