/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 14px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: lightgray !important; /* color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background-color: #8b75d2; /* color of the scrollbar handle */
    border-radius: 10px; /* roundness of the scrollbar handle */
    border: 3px solid #f1f1f1; /* creates padding around scrollbar handle */
}


/* For Firefox */
/* Firefox does not support ::-webkit-scrollbar pseudo-elements. */
/* We can use scrollbar-width and scrollbar-color properties instead. */

